
//bg-color
$bg-white: #fff;
$bg-linear-pink: linear-gradient(0deg, #F02AA6 0%, #FF6F48 100%);
$bg-linear-blue: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
$bg-linear-light: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);

//primary-colors
$primay-dark-blur: #13183f;
$primary-magento: #f74780;
$primary-light-pink: #FFA7C3;
$primary-grey: #83869a;
$primary-white: #fff;
$primary-black: hsl(0, 0%, 0%);

//font family 
$ff-Plus-Jakarta-Sans: 'Plus Jakarta Sans', sans-serif ;
